<div class="d-flex container">
    <mat-card class="container flex-grow-1">
        <mat-form-field class="w-100">
            <input type="text" matInput [(ngModel)]="modelInput.name" placeholder="Enter your name" />
        </mat-form-field>
        <mat-form-field class="w-100">
            <input type="email" matInput [(ngModel)]="modelInput.email" placeholder="Enter your email" />
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" [(ngModel)]="modelInput.birthDate" placeholder="Pick your birth date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary" (click)="onViewBio()">Save</button>
        </div>
    </mat-card>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-card class="container flex-grow-1">
        <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter your name" [(ngModel)]="modelView.name" disabled />
        </mat-form-field>
        <mat-form-field class="w-100">
            <input type="email" matInput placeholder="Enter your email" [(ngModel)]="modelView.email" disabled />
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker1" placeholder="Pick your birth date" [(ngModel)]="modelView.birthDate" disabled />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 disabled></mat-datepicker>
        </mat-form-field>
    </mat-card>
</div>