<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="sidenav-content">
    <app-navbar (drawerToggle)="drawer.toggle()"></app-navbar>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>