<mat-nav-list>
    <a mat-list-item  routerLink="/">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <h4 mat-line>Dashboard</h4>
    </a>
    <a mat-list-item  routerLink="/profile">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <h4 mat-line>Profile</h4>
    </a>
</mat-nav-list>