/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
}

.w-100{
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-grow-1{
    flex-grow: 1;
}

.justify-content-end{
    justify-content: flex-end;
}